
#header {
	position: absolute;
	z-index: -999;
	top:0px;
	left: 0px;
	height: 66px;
	background-color: #28ABBF;
	border-bottom: 1px solid #008899;
}

#subHeader {
	position: absolute;
	top:0px;
	left: 0px;
	height: 66px;
	width: 100%;
	min-width: 700px;
	background-color: #28ABBF;
	border-bottom: 1px solid #008899;
}

#headerLeftPart {
	float: left;
	height: 100%;
	width: 400px;
}

#logo {
	position: relative;
	left:30px;
	top:10px;
}

#logo img{
	float:left;
}

#headerRightPart {
	float: right;
	height:100%;
	width:300px;
}
#personalInfo {
	height: 60%;
	padding-top: 13.2px;
}
.headerRightImgSetting{
 
 	
	float: left;
	height: 39px;
	width: 39px;
}
.headerRightImgSettingDiv{
		margin-left:40px;
		border-right: 1px solid #008899;
		float:left;
		width:53px;
		height:100%
}
#headerRightImgSetting:hover {
	cursor:pointer;
}

.headerRightImgPhoto{
 	margin-left:15px;
 	border-right: 1px solid #008899;
	float: left;
	height: 39px;
	width: 39px;
}

#headerRightImgLogout{
	float:right;
	margin-right:20px;
	margin-top:1px;
	height: 37px;
	width: 37px;
}

#headerRightImgLogout:hover {
	cursor:pointer;
}
#personalInfo span{
	float: left;
	padding: 9px;
	color: #FFFFFF;
}


