.nav {
	float: left;
	width: 185px;
	height: 1080px;
}

.navTopPart {
	float: left;
	width: 100%;
	height: 25%;
}

.navBottomPart {
	float: left;
	width: 100%;
	height: 75%;
}

.navListItem {
	float: left;
	width: 100%;
	height: 16.7%;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #008899;
}

.navLeftPartListItem {
	float: left;
	background-color: #006666;
	width: 25%;
	height: 100%;
}

.navRightPartListItem {
	float: left;
	background-color: #009999;
	text-align: center;
	width: 75%;
	height: 100%;
	font-size: 20px;
}

.navRightPartListItemText {
	margin-top: 13px;
	color: #FFFFFF;
}

.navRightPartListItemText span {
	font-size: 15px;
}

#navRightPartListItemText1 {
	margin-top: 6px;
}
#navRightPartListItemText3 {
	margin-top: 6px;
}
.navListItem:hover .navLeftPartListItem {
	background-color: #008899;
}

.navListItem:hover .navRightPartListItem {
	background-color: #006666;
	cursor:pointer;
}

.navBottomPart {
	position: relative;
	top: 0.6%;
	width: 100%;
	height: 74.4%;
}

.navLeftPartBottom {
	float: left;
	width: 25%;
	height: 100%;
	background-color: #006666;
}

.navRightPartBottom {
	float: left;
	width: 75%;
	height: 100%;
	background-color: #009999;
}

.navLeftPartListItem img {
	height: 100%;
	width: 100%;
}