@CHARSET "UTF-8";

#actAnyInputDiv {
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	width: 100%;
	height: 25px;
}

#actAnyItemid,#actAnyActionid,#actAnySubmit{
	height: 25px;
	font-size: 15px;
	width: 90px;
}
#actAnyDayOrHour{
	height:25px;
	font-size:15px;
	width:120px;
}

#actAnyStartTime, #actAnyEndTime {
	margin-left:30px;
	height: 19px;
	font-size: 15px;
	width: 90px;
}
#actAnyInputDiv span {
	margin-left:25px;
}

#PVChart {
	
	float: left;
	border: 0px;
	width: 45%;
	height: 300px;
	margin-left: 3%;
	margin-top:50px;
}

#UVChart {

	float: left;
	border: 0px;
	width: 45%;
	height: 300px;
	margin-top:50px;
	margin-left: 3%;
}

#PVTableDiv, #UVTableDiv {
	width: 40%;
	float: left;
	margin-top: 20px;
}

#PVTableDiv {
	margin-left: 4%;
}

#UVTableDiv {
	margin-left: 11%;
}

#PVTable, #UVTable {
	width: 100%;
	background-color: #c0c0c0;
}

#PVTable td, #UVTable td {
	border: 0px;
	background-color: #FFFFFF;
}

.co1 {
	width: 70%;
	height: 30px;
}

.co2 {
	width: 30%;
	height: 30px;
}

#page {
	float:left;
	width:100%;
	margin-top:30px;
	height:30px;
}
#PVPrevious, #PVText, #PVNext, #UVPrevious, #UVText, #UVNext {
	float:left;
	height:100%;
	width:120px;
}
#PVPrevious input, #PVNext input, #UVPrevious input, #UVNext input {
	height:100%;
	width:100%;
}
#PVPrevious, #PVText, #PVNext {
	margin-left:45px;
}
#UVPrevious{
	margin-left:120px;
}
 #UVText, #UVNext{
 	margin-left:45px;
 }