@CHARSET "UTF-8";
body{
	margin:0px;
	width:100%;
	height:100%;
}
.itemHeader{
	float:left;
	margin:20px 2% 20px;
	height:108px;
	width:96%;
	border:1px solid #6a6a6a;
}
.itemMiddle{
	float:left;
	margin:0px 2% 20px;
	height:400px;
	width:96%;
	text-align:center;
	border:1px solid #6a6a6a;
}
.itemFooter{
	float:left;
	margin:0px 2% 20px;
	width:96%;
	height:480px;
	text-align:center;
	border:1px solid #6a6a6a;
}
#itemSize, #startTime, #endTime{
	height:19px;
	width:130px;
	margin-top:20px;
	margin-left:20px;
}
#tt{
	height:25px;
	margin-top:23px;
	margin-left:23px;
	width:130px;
}
#itemsInputDiv {
	width:60%;
	height:43.2px;
	margin-left:20%;
	margin-top:18px;
}
#itemTable {
	margin-top:20px;
	margin-left:2%;
	width:96%;
	background-color:#c0c0c0;
}
#itemTable td {
	background-color:#ffffff;
	height:35px;
}
#submit{
	width:80px;
	height:25px;
}
