@CHARSET "UTF-8";
#expandStatisInputDiv {
	margin-top:40px;
	height:25px;
	width:100%;
}
#expandStatisSelectionDiv {
	float:left;
	margin-left:30px;
	height:25px;
}
#expandStatisSelectionDiv select {
	margin-left:5px;
	height:25px;
}
#expandStatisTextInputDiv {
	float:left;
	margin-left:30px;
	height:19px;
}
#expandStatisTextInputDiv input {
	margin-left:5px;
	height:19px;
}
#expandStatisDateInputDiv {
	float:left;
	margin-left:30px;
	height:19px;
}
#expandStatisDateInputDiv input {
	margin-left:5px;
	height:19px;
}
#submit {
	height:25px;
	margin-left:30px;
	width:80px;
}
#itemTable {
	margin-top:20px;
	margin-left:2%;
	width:96%;
	background-color:#c0c0c0;
}
#itemTable td {
	background-color:#ffffff;
	height:35px;
}
#itemChart {
	width:100%;
}

