@CHARSET "UTF-8";
#userLogFooter{
	float:left;
	margin:0px 2% 35px;
	width:96%;
	text-align:center;
	border:1px solid #6a6a6a;
}

table.UserLogTable {	
	margin-top:20px;
	margin-left:2%;
	width:96%;
	background-color:#c0c0c0;
}

table.UserLogTable th {
	background-color:#c0c0c0;
	height:35px;
}
table.UserLogTable td {
	background-color:#ffffff;
	height:35px;
}
.expand{
	overflow:auto;
}
.itemid{
	width:40px;
}
.userLogInputDiv{
	float:left;
	margin-left:20px;
	margin-top:15px;
	width:900px;
	
	
}
#userLogSelectionDiv span, #userLogTextInputDiv span, #userLogDateInputDiv span{
	margin-top:3px;
	margin-left:20px;
}
#userLogSelectionDiv span select{
	
	height:25px;
	font-size:10px;
	width:150px;
}
#userLogSelectionDiv span input{
	
	height:25px;
	font-size:15px;
	width:150px;
}
#userLogTextInputDiv span input{
	height:19px;
	font-size:10px;
	width:100px;
}
#userLogDateInputDiv{
	margin-left:250px;
	
}
#userLogDateInputDiv span input{
	
	height:19px;
	width:150px;
}
#userLogInput{
	float:left;
}
#userLogSubmitDiv {
	float:left;
	padding-top:5px;
	width:100%;
}
#userLogSubmitDiv span input {
	float:left;
	margin-left:400px;
	height:25px;
	width:80px;
	
}

/*
.userLogInputDiv{
	float:left;
	margin-left:20px;
	margin-top:15px;
	width:400px;
	height:25px;
	
}
#userLogSelectionDiv span, #userLogTextInputDiv span, #userLogDateInputDiv span{
	margin-left:20px;
}
#userLogSelectionDiv span select{
	height:25px;
	font-size:10px;
	width:150px;
}
#userLogTextInputDiv span input, #userLogDateInputDiv span input{
	height:19px;
	font-size:15px;
	width:200px;
}
#userLogSubmitDiv {
	float:left;
	padding-top:20px;
	width:100%;
}
#userLogSubmitDiv span input {
	float:left;
	margin-left:910px;
	height:25px;
	width:140px;
}*/